/*google material icons import*/
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root{
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
}

.header{
    background-color: #6f67db;
    color: white;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 6px rgba(0,0,0,.2);
    &__link{
        text-decoration: none;
        color: white;
        font-size: 1.2rem;
        margin-left: .5rem;
        margin-right: 1.5rem;
    }
}

main {
    flex-grow: 1;
    padding: .5rem;
    text-align: center;
}

footer{
    background-color: #6f67db;
    color: white;
    padding: 1rem 1.5rem;
    font-size: .5rem;
}

